{% extends 'baseFront.html.twig' %}

{% block title %}Accès Refusé{% endblock %}

{% block body %}
<div style="margin-top :300px; ">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="alert alert-danger text-center p-5 shadow-sm rounded">
                    <h1 class="display-4">Accès refusé</h1>
                    <p class="lead">Votre compte a été <strong>banni</strong>. Veuillez contacter l'administration pour plus d'informations.</p>
                    <a href="{{ path('app_login') }}" class="btn btn-outline-light mt-3">Retour à la page de connexion</a>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
