<form method="post" action="{{ path('app_planning_docteur_delete', {'id_planning': planning_docteur.id_planning}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ planning_docteur.id_planning) }}">
    <button class="btn">Delete</button>
</form>
