{% extends 'base.html.twig' %}

{% block title %}Edit Reservation{% endblock %}

{% block body %}
    <h1>Gérer une reservation</h1>

    {{ include('reservation/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    <br><br>
    <a style="color : red " href="{{ path('app_reservation_index') }}">back to list</a>

{% endblock %}
