{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
    <h1>Ajouter montant a payé</h1>

    {{ include('paiement/_form.html.twig') }}
    <br><br>
    <a href="{{ path('app_paiement_index') }}">back to list</a>
{% endblock %}
