<form method="post" action="{{ path('app_accompagnateur_delete', {'id_accompagnateur': accompagnateur.id_accompagnateur}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ accompagnateur.id_accompagnateur) }}">
    <button class="btn">Delete</button>
</form>
