{% extends 'base.html.twig' %}

{% block title %}New Accompagnateur{% endblock %}

{% block body %}
    <h1>Create new Accompagnateur</h1>

    {{ include('accompagnateur/_form.html.twig') }}

    <a href="{{ path('app_accompagnateur_index') }}">back to list</a>
{% endblock %}
